@import url(https://fonts.googleapis.com/css?family=Trirong);

html,
body,
div {
  margin: 0px;
  padding: 0px;
  display: block;
  font-family: "Trirong", serif;
  letter-spacing: -1px;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: grey;
  z-index: 0;
  color: white;
}

table,
th,
td {
  border: 1px solid white;
}

#indexMain {
  background: black;
}

.header {
  height: 15%;
  background: rgb(184, 174, 238);
  background: linear-gradient(90deg, rgba(184, 174, 238, 1) 0%, rgba(3, 3, 11, 1) 100%);
  width: 100%;
}

h1,
h2 {
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    z-index: 1;
    background-color: #5F9EA0;
    justify-content: space-around;
    align-items: center;
    display: flex;
    background: rgb(184, 174, 238);
    background: linear-gradient(90deg, rgba(184, 174, 238, 1) 0%, rgba(3, 3, 11, 1) 100%);
  }

  #footerCopyright {
    width: 7.5%;
    color: black;
    margin-right: -7.5%;
    font-size: 20px;
  }
  .footerSection {
    width: 30%;
    height: 50%;
    padding-bottom: 1%;
    font-size: 42px;
    text-align: center;
  }

  .row {
    width: 100%;
    height: 37.5%;
    display: flex;
  }

  .rowText {
    width: 65%;
    height: 100%;
  }

  .rowTextHeader {
    margin: 15px;
    font-size: 32px;
  }

  .rowTextSubHeader {
    margin: 15px;
    font-size: 22px;
  }

  #botRowText {
    text-align: end;
  }

  .rowImage {
    width: 35%;
    height: 100%;
  }

  .rowImage img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 999px) {
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    z-index: 1;
    background-color: #5F9EA0;
    justify-content: space-around;
    align-items: center;
    display: flex;
    background: rgb(184, 174, 238);
    background: linear-gradient(90deg, rgba(184, 174, 238, 1) 0%, rgba(3, 3, 11, 1) 100%);
  }

  .footerSection {
    width: 30%;
    height: 50%;
    padding-bottom: 5%;
    font-size: 42px;
    text-align: center;
  }

  .row {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
  }

  .rowText {
    width: 100%;
    height: 50%;
  }

  .rowTextHeader {
    font-size: 32px;
  }

  .rowTextSubHeader {
    font-size: 26px;
  }

  .rowImage {
    width: 100%;
    height: 50%;
  }

  .rowImage img {
    width: 100%;
    height: 100%;
  }
}

/*PAGE TWO*/

@media only screen and (min-width: 1000px) {
  #main2 {
    background-color: black;
  }

  #p2headers h1 {
    padding-top: 3%;
  }

  .rowTextBig {
    width: 50%;
    height: 100%;
  }

  .rowTextBig p {
    padding: 15px;
    font-size: 24px;
    margin: 0;
  }

  .rowList {
    margin-top: -2.5%;
    font-size: 20px;
    list-style-type: circle;
  }

  .rowImageBig {
    width: 50%;
    height: 100%;
  }

  .photoGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%;
  }

  .gridPhoto img {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 999px) {
  #main2 {
    background-color: black;
  }

  #p2headers {
    height: 5%;
  }

  .rowTextBig {
    width: 100%;
    height: 50%;
  }

  .rowTextBig p {
    padding: 15px;
    font-size: 32px;
    margin: 0;
  }

  .rowList {
    margin-top: -1.5%;
    font-size: 24px;
    list-style-type: circle;
  }

  .rowImageBig {
    width: 100%;
    height: 50%;
  }

  .rowImageBig img {
    width: 100%;
    height: 100%;
  }

  .photoGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%;
  }
}

/*PAGE THREE*/

@media only screen and (min-width: 1000px) {
  #p3headers h1 {
    padding-top: 3%;
  }

  .rowBig {
    width: 100%;
    height: 75%;
    display: flex;
  }

  .columnHalf {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rowHalf {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .rowImageSmall {
    height: 100%;
    width: 100%;
  }

  .rowImageSmall img {
    width: 98%;
    height: 90%;
    padding-left: 1%;
    padding-top: 5%;
  }

  .rowTextSmall {
    width: 100%;
    height: 100%;
  }

  .rowTextSmall p {
    font-size: 18px;
  }

  #tableBox {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18px;
  }

  .statsTable {
    width: 100%;
    height: 70%;
  }

  .statsTable th {
    width: 50%;
    background-color: #1E90FF;
  }

  .statsTable tr:nth-child(even) {
    background-color: #404040;
  }

  .statsTable tr:hover {
    background-color: #999999;
  }

  .tableHeader {
    height: 20%;
    width: 100%;
  }

  #formRow {
    height: 20%;
    width: 100%;
    display: flex;
  }

  #form {
    height: 100%;
    width: 100%;
    font-size: 18px;
  }

  #form form {
    padding-top: 7.5%;
  }

}

@media only screen and (max-width: 999px) {
  #p3headers {
    height: 5%;
  }

  .rowBig {
    width: 100%;
    height: 75%;
    display: flex;
  }

  .columnHalf {
    width: 100%;
    height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rowHalf {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .rowImageSmall {
    height: 100%;
    width: 100%;
  }

  .rowImageSmall img {
    width: 98%;
    height: 90%;
    padding-left: 1%;
    padding-top: 5%;
  }

  .rowTextSmall {
    width: 100%;
    height: 100%;
  }

  .rowTextSmall p {
    font-size: 24px;
  }

  #tableBox {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
  }

  .statsTable {
    width: 100%;
    height: 80%;
  }

  .statsTable th {
    width: 50%;
    background-color: #1E90FF;
  }

  .statsTable tr:nth-child(even) {
    background-color: #404040;
  }

  .statsTable tr:hover {
    background-color: #999999;
  }

  .tableHeader {
    height: 20%;
    width: 100%;
  }

  #formRow {
    height: 20%;
    width: 100%;
    display: flex;
  }

  #form {
    height: 100%;
    width: 100%;
    font-size: 18px;
  }

  #form form {
    padding: 12.5%;
  }
}

/*PAGE FOUR*/
@media only screen and (min-width: 1000px) {
  .columnImage {
    width: 45%;
    margin-left: 27.5%;
    height: 40%;
  }

  .columnImage img {
    width: 100%;
    height: 80%;
    padding-top: 10%;
  }

  .columnText {
    width: 100%;
    height: 60%;
    text-align: center;
  }

  .columnTextHeader {
    width: 100%;
    height: 10%;
    font-size: 32px;
    padding-bottom: 2%;
  }

  .columnText p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 999px) {
  .columnImage {
    width: 100%;
    height: 50%;
  }

  .columnImage img {
    width: 100%;
    height: 80%;
    padding-top: 25%;
  }

  .columnText {
    width: 100%;
    height: 60%;
    text-align: center;
  }

  .columnTextHeader {
    width: 100%;
    height: 10%;
    font-size: 30px;
  }

  .columnText p {
    font-size: 22px;
  }
}