html,
body,
div {
  margin: 0px;
  padding: 0px;
  display: block;
  font-family:Arial, Helvetica, sans-serif;
  border: 1px solid white;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: grey;
  z-index: 0;
  color: white;
}


#indexMain {
  background: black;
}

.header {
  height: 15%;
  background: rgb(184,174,238);
  background: linear-gradient(90deg, rgba(184,174,238,1) 0%, rgba(3,3,11,1) 100%);
  width: 100%;
}

h1, h2 {
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    z-index: 1;
    background-color: #5F9EA0;
    justify-content: space-around;
    align-items: center;
    display: flex;
    background: rgb(184,174,238);
    background: linear-gradient(90deg, rgba(184,174,238,1) 0%, rgba(3,3,11,1) 100%);
  }

  .footerSection
  { 
    width: 30%;
    height: 50%;
    font-size: 42px;
    text-align: center;
  }

  .row {
    width: 100%;
    height: 37.5%;
    display: flex;
  }

  .rowText {
    width: 65%;
    height: 100%;
  }
  
  .rowTextHeader {
    padding: 15px;
    font-size: 32px;
  }

  .rowTextSubHeader {
    padding: 15px;
    font-size: 24px;
  }

  #botRowText {
    text-align: end;
  }

  .rowImage {
    width: 35%;
    height: 100%;
  }

  .rowImage img 
  {
    width: 100%;
    height: 100%;
  }
  /*PAGE TWO*/

  #main2
  {
    background-color: black;
  }

  #p2headers h1 {
    padding-top: 2%;
  }

  .rowTextBig {
    width: 50%;
    height: 100%;
  }

  .rowTextBig p {
    padding: 15px;
    font-size: 24px;
  }

  .rowImageBig {
    width: 50%;
    height: 100%;
  }

  .rowImageBig img 
  {
    width: 100%;
    height: 100%;
  }

  .photoGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100%;
  }

  .gridPhoto {
    
  }

  /*PAGE THREE*/

  #p3headers h1 {
    padding-top: 2%;
  }
